body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 16px;
  margin: 20px auto;
}

.row {
  display: flex;
}

.row .button-wrapper {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 0;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  background-color: gainsboro;
}

.row .button-wrapper:nth-child(4n) {
  background-color: rgb(242, 158, 1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid .button-wrapper:nth-child(1) {
  grid-column: 1 / span 2;
}

.grid .button-wrapper:nth-child(3) {
  background-color: rgb(242, 158, 1);
}
